button{
    padding: 1em 3em;
    background-color: cyan;
    color: rgb(10, 25, 143);
    border: none;
    border-radius: 1000px;
    font-size: large;
}
button:hover{
    background-color: red;
    color: white;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
p{
    font-weight: 200;
}
h1{ 
    text-align: center;
    color:chartreuse;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url("https://i.imghippo.com/files/4aFta1722447091.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}